body {
    font-family: "Roboto", sans-serif;
}

.intro {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 20px;
}

.header__logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info__content {
    width: 500px;
}

.info__title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.info__text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.info__img img {
    width: 500px;
}

.sign__up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.sign__up--border {
    border: 2px solid #F9FAF8;
}

.cards__title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.cards__text {
    color: #E5E7EB;
    font-weight: 100;
}

.quote {
    background-color: #E5E7EB;
}

.quote__text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote__author {
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
}

.signup__container {
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}